body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
}

#icon{
width:30px;
cursor: pointer;
padding: 30px;
}


:root{
  
  --primary-color:rgb(255, 255, 255);
  --secondary-color:rgb(51, 49, 49);

  
}
.dark-theme{
  --primary-color:rgb(36, 33, 33);
  --secondary-color:rgb(255, 255, 255);
  
}
/*navbar*/

navbar menu{
  flex: 1;
text-align: right;
}

.navbar {
  background-color:rgb(53, 49, 49);
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 50px; 
}

.menu a {
  color: rgb(255, 253, 253);
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #66c2ff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color:rgb(243, 234, 234);
  margin: 3px 0px;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color:rgb(61, 57, 57);
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .menu.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.bar {
        transition: 0.4s;
    }

    .hamburger.active .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active .bar2 {
        opacity: 0;
    }

    .hamburger.active .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/*home section*/
h1{
  color: var(--secondary-color);
}
.home-section {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 10px;
}

.home-image {
    flex: 1;
}

.home-image img {
  margin-top: 150px;
  width: 60%;
  box-shadow: 1px 1px 10px var(--secondary-color);
  border-radius: 10%; 
}

.home-content {
  flex: 1; 
  text-align: center;
  margin-top: 50px;
}

.home-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h3{
  color: var(--secondary-color);
  font-style: oblique;
  font-family: cursive;
}

.subtitle {
  font-size: 1.2em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: primary-color;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.explore-button:hover {
  background-color: #66c2ff;
}
.explore-btn{
  width: 30%;
}
/*menu section*/
.menu-section {
  padding: 50px;
}

.category {
  margin-bottom: 40px;
}

.item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h2,h3{
  color: var(--secondary-color);
  text-align: center;
  margin-top: auto;
}
p{
  color: var(--secondary-color);
  text-align: center;
}
.item-card {
  position: relative;
  box-sizing: auto;
  width: 225px;
  height: 370px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--secondary-color);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  backdrop-filter: blur(10px);
}
.description{
  text-align: center;
}

.item-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color:var(--secondary-color);
  color: var(--primary-color);
  padding: 6px 6px;
  width:  100px;
  margin-left: 65px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #58c0d0;
}

/*about us*/

.about-section {
  padding: 50px;
}

.about-content {
  text-align: center;
}

.about-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 20px;
}

.chef-section {
  flex: auto;
  flex-direction: row;
  margin-top: 20px;
}

.chef {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
}

.chef img {
  width: auto;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.chef h4 {
  font-size: 1.5em;
  color:var(--secondary-color);
}

.chef p {
  text-align: center;
  color: var(--secondary-color);
}

/*cart section*/
.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon img {
  width:60px;
  margin:auto;
  border-radius: 90%;
}

#cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff3333;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.cart-display {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color:var(--primary-color) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.cart-content {
  text-align: center;
}

.cart-items {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.order-summary {
  margin-bottom: 20px;
}

button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #7d66ff;
}
/*footer*/

.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.social-media {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media a img {
  width: 35px;
}


.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 15px;
}

.back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.back-to-top img {
  width: 40px;
  height: 40px;
}
/**/
